#container{
    box-sizing: border-box;
    width: 320px;
    height: 320px;
    border: 1px solid ;
    display: flex;
    flex-wrap: wrap;


}   

#container {
    box-sizing: border-box;
    border: 1px solid ;
}

.grid {
    box-sizing: border-box;
    border: 1px solid ;
}

.oppclass{
    opacity: 0;

}

